/*:root{
    --width: 400px;
}*/
/*
.game{
    width: 500px;
    height: 500px;
    margin:auto;
    border: 1px solid black;
}*/
/*button{
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    position: absolute;
    display: block;
}
#btn{
    background-color: lightgreen;
}
#btn:hover, #restart:hover{
    background-color: yellow; 
}
#btn:active, #restart:active{
    background-color: red;
}
#restart{
    background-color: #333;
    display: none;
}
.slider{
    visibility: hidden;
    background-color: #40dfc3;
    height: 20px;
    width: 100px;
    position: relative;
}
.slider1{
    visibility: visible;
}
.animate{
    ;
}
*/
*{
    padding: 0;
    margin: 0;
    outline: none;
}
{
    height: 100%;
}
.gam {
    border: 3px black solid;
    width: 88vw;
    height: 44vw;
    margin: 6vw auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.d {
    background-color: #7d39d0;
    width: 7%;
    height: 7%;
    top: 93%;
    position: absolute;
    left: 3%;
    z-index: 1;
}

#j {
    animation:side .3s linear;
}
@keyframes side{
    0% {
        top: 90% ;
    }
    30% {
        top:80% ;
    }
    50%{
        top: 70%;
    }
    70% {
        top:80%;
    }
    100%{
        top: 90%;
    }
}

.a {
    background-color: #d7b6ff;
    width: 4%;
    height: 10%;
    top: 90%;
    position: absolute;
    left: 100%;

}

.e {
    animation: e 2s infinite linear;
}
@keyframes e{
    0% {
        left: 100%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: -4px;
    }
}

.sc {
    position: absolute;
    z-index: 1;
    top: 5%;
    color: #1391ff;
    font-size: 2em;
    left: 30px;
    font-family: Arial;
}
.sco {
    margin: 10px 0;
}

.ga {
    position: absolute;
    color: #063666;
    width: 100%;
    height: 100%;
    font-size: 3em;
    background-color: #00000026;
    font-family: sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
}

